@font-face {
    font-family: geo;
    src: url('./fonts/geo.ttf') format('truetype');

}

@font-face {
    font-family: exo;
    src: url('./fonts/exo-thin.ttf') format('truetype');

}


body {
    background-color: #FCFCFC;
}

header {
    background-color: black;
    position: fixed;
    top: 0;
    left: 2%;
    height: 48px;
    width: 96%;
    line-height: 0px;
}

header h1 {
    text-align: center;
    font-family: geo;
    font-size: 36px;
    letter-spacing: 12px;
    color: rgb(231, 231, 231);
}

.intro {
    font-family: exo;
    font-size: 12px;
    padding-top: 120px;
    padding-bottom: 72px;
    text-align: center;
}

.intro h2 {
    display: inline;
    letter-spacing: 12px;
    
    border: solid 1px;
    padding: 12px;  
}


.projects {
    text-align: center;
}

.projects img {
    width: 24%;
    min-width: 240px;
    
}

.outro h3 {
    text-align: center;
    padding-top: 12px;
    font-family: exo;
    font-size: 12px;
}

