body {
    text-align: center;
    background-color: black;
    color:white;
    font-family: verdana;
}

h1 {
    font-weight: normal;
    font-size: 50px;
}

a {
    color: aquamarine;
}

h2 {
    font-weight: 300;
    font-size:42px;
}

p {
    font-size:21px;
    color:grey;
}

footer {
    text-align: right;
    color:grey;
}