
header {
    background-color: white;
    position: fixed;
    width:100%;
    top:0;
    left:0;
    height: 72px;
    z-index: 2;
    border-bottom: black solid 1px;
}


header .headerin{
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

header h1 {
    padding-left: 12px;
    font-size: 14px;
}


header .logo {
    color:mediumaquamarine;
    padding-left: 24px;
    display: flex;
    flex-grow: 1;
    align-items: center;    
}

header nav {
    display: flex;
    padding-right: 24px;
}

header li {
    display: inline-block;
    padding: 12px;
}

header a {
    color: black;    
}




main {
    display: flex;
    padding-top: 72px;
    z-index: 1;
}

main .maincontain {
    display: flex;
    padding: 24px;
    width: 1260px;
    flex-grow: 0;
}

main .sidemain {
    display: flex;
    width:120px;
    flex: 1 1;

    
}



main section {
    display: flex;
    padding:12px;
    flex-direction: column;
    
}

main section article {
    display: flex;
    flex-direction: column;
    padding:3px;
}


main section h3 {
    font-size: 30px;
}

main section.left {
    width: 630px;
}

main section.left .leftbottomsec {
    display: flex;
}
    
main section.left .leftbottomleftsec {
    flex-direction: column;
    margin: 0px 12px;
}

main section.left .leftbottomrightsec {
    flex-direction: column;
    margin: 0px 12px;
    
    
}

main .pic {
    display: flex;
    align-items: center;
    justify-content: center;
}

main .caption{
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    display: flex;
    padding-left: 12px;
    text-align: center;

}

main section.left #leftpic1caption {
    font-size: 40px;
    text-align: initial;
}

main section.middle {
    width: 300px;
}


main section.right {
    width: 240px;
}

main section.right h3{
    display: flex;
    font-size: 16px;
    font-weight: bold;
    justify-content: center;
    padding-bottom: 12px;
}


main section.right nav {
    display: flex;
    flex-direction: column;    
}

main section.right .newsbites {
    display: flex;
    border-bottom: black solid 1px;
    background-color: WhiteSmoke;
    font-family: Verdana;
    font-size: 12px;
    color: DimGray;
}





main section.right #rightpic1 {
    background-image: url("./img-news-bite.png");
    height: 240px;
    background-size: cover;
}

main #leftpic1 {
    background-image: url("./img-story-main.png");
    height: 300px;
}

main #leftpic2 {
    background-image: url("./img-story-2.png");
    height: 300px;}
 

main #leftpic3 {
    background-image: url("./img-story-3.png");
    height: 300px;
}

main #middlepic1 {
    background-image: url("./img-story-1.png");
    height: 300px;}
 





    
footer {
    display: flex;
    background-color: MediumAquamarine;
    width:100%;
    font-family: Verdana;
    font-size: 12px;
    height: 360px;
    justify-content: center;    
    align-items: center;
}



footer .footercontent {
    display: flex;
    flex-direction: column;
    width: 360px;
}

footer .firstline {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
}

footer .fcontent {
    display: flex;
}

footer .secondline{
    display: flex;
    justify-content: center;
}

footer a {
    color: black;
}

footer .firstline p {
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

footer .secondline p {
    display: flex;
}