body {
    font-family: Helvetica;
    font-size:22px;
    color:seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header {
    border-bottom: seashell solid 1px;;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 69px;
    background-color: black;
    z-index: 1;
}

header .logo {
    display: flex;
    flex: 1;
    padding-left: 10px;
}

header .logo img {
    height: 50px;
    
}

header nav {
    width:360px;
    display: flex;
    justify-content: space-around;
    padding-right: 12px;
}

header nav a {
    display: flex;
    color: seashell;
}

 
main {
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

#mission, #featured, #locations {
    position: relative;
    bottom:36px;
    visibility: hidden;
    
}

main .queen {
    flex-direction: column;
    display: flex;
    align-items: center;
    
}

main .queen .mission {
    background-image: url(./missback.jpg);
    width: 1200px;
    height:700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .queen .mission .missionhold {
    width: 1200px;
    background-color: black;
    height: 96px;
    position: relative;
    top: 68px;    
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

main .queen .mission .missionhold * {
    margin: 6px;
}

main .queen .featured {
    width: 1000px;
    
}

main .queen .featured img {
    height: 200px;
    width: 300px;  
}
    
main .queen .featured  .feattoprow{
    display: flex;
    justify-content: space-around;
}

main .queen .featured .feattoprow *{
  padding:0px 6px;
  padding-bottom: 10px;
}

main .queen .featured .feattoprow h4{
  margin:0px;
}

main .queen .featured .featbottomrow{
    display: flex;
    justify-content: center;    
}

main .queen .featured .featbottomrow *{
    padding:0px 6px;
    padding-bottom: 10px;
}

main .queen .featured .featbottomrow h4{
    margin:0px;
}

main .queen .locations {
    background-image: url(./locback.jpg);
    height:500px;
    width:1200px;
}

main .queen .lochead {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

main .queen .lochead h2 {
    margin: 0px;
    padding: 80px 0px 15px;
    
}

main .queen .lochold {
    display: flex;
    justify-content: center;
}

main .queen .lochold .ebayside {
    margin: 0px 40px;
}

main .queen .lochold * {
    background-color: black;
    opacity: 1;
    width: 300px;
   
}

main .queen .contact {
  height: 200px;
}

main .queen .contact * {
  margin-top: 12px; 
}
  

footer {
  text-align: left;
  margin-left: 20px;
  
}