body {
    font-family: Helvetica;
}


.header h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url("./pattern.jpeg");
}

.brushes header {
    background-color: mediumspringgreen;
}

.frames header {
    background-color: lightcoral;
}

.paint header {
    background-color: skyblue;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color:white;
}

section span {
    font-weight: bold;
    color:blue;
}