main {
    border: gainsboro solid;
    display: flex;
}

main .leftknight {
    border: steelblue solid;
    display: flex;
    flex: 1;
}

main .rightknight {
    border: steelblue solid;
    display: flex;
    flex: 1;
}

main .castle {
    border: black solid;
    display: flex;
    flex-direction: column;
}

main .king {
    border: slateblue solid;
    display: flex;
}

main .queen {
    display: flex;
    flex-direction: column;    
    border: indianred solid;
}

main .queen *  {
    border: gold solid;
    display: flex;

}

main .servant {
    border: lightgreen solid;
}

